*.pyc
*.nef
*.h5
.idea/*

# Ipython Notebook files
.ipynb_checkpoints/*
*.ipynb

# Pickle Files
*.p
*.npy

# Tex Files
*.aux
*.log
*.synctex.gz
*-converted-to.pdf
*.pdf

# Multinest save files
saves/*

# json
*.json
